<main class="main" id="top">
  <div class="container" data-layout="container">
    <div class="content">
      <div class="row flex-center min-vh-100 py-6">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
          <div class="d-flex justify-content-center align-items-center py-4">
            <img
              src="/images/sapphireLogo.png"
              class="mr-2"
              style="height: 20px; width: auto"
            />
          </div>
          <div class="card">
            <div class="card-body p-4 p-sm-5">
              <div
                class="row text-left justify-content-between align-items-center mb-2"
              >
                <div class="col-auto">
                  <h5>Log in</h5>
                </div>
              </div>
              <form action="/login" method="POST">
                <div class="form-group mb-3">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Username Or Email"
                    name="username"
                  />
                </div>
                <div class="form-group">
                  <input
                    class="form-control"
                    type="password"
                    placeholder="Password"
                    name="password"
                    required
                  />
                </div>
                <div class="mb-2">
                  <% if (errorMessage) { %>
                  <small id="usernameHelp" class="text-danger">
                    <%= errorMessage %>
                  </small>
                  <% } %>
                </div>
                <div class="row justify-content-between align-items-center">
                  <div class="col-auto">
                    <div class="custom-control custom-checkbox">
                      <input
                        class="custom-control-input"
                        type="checkbox"
                        id="basic-checkbox"
                        checked="checked"
                        name="rememberMe"
                      /><label class="custom-control-label" for="basic-checkbox"
                        >Remember me</label
                      >
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button
                    class="btn btn-primary btn-block mt-3"
                    type="submit"
                    name="submit"
                  >
                    Log in
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
