<main class="main" id="top">
  <div class="container" data-layout="container">
    <div class="content">
      <div class="row flex-center min-vh-100 py-6">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-6 col-xxl-4">
          <div class="d-flex justify-content-center align-items-center py-4">
            <img
              src="/images/sapphireLogo.png"
              class="mr-2"
              style="height: 20px; width: auto"
            />
          </div>
          <div class="card">
            <div class="card-body p-4 p-sm-5">
              <div
                class="row text-left justify-content-between align-items-center mb-2"
              >
                <div class="col-auto">
                  <h5>Signup</h5>
                </div>
                <div class="col-auto">
                  <p class="fs--1 text-600 mb-0">
                    Have an account? <a href="/login">Login</a>
                  </p>
                </div>
              </div>
              <form
                action="/signup"
                method="post"
                id="signup-form"
                class="form"
                novalidate
              >
                <div class="form-group mb-3">
                  <input
                    id="username"
                    class="form-control"
                    type="text"
                    placeholder="Username"
                    name="username"
                    required
                    novalidate
                  />
                </div>
                <div class="form-group mb-3">
                  <input
                    id="email"
                    class="form-control"
                    type="email"
                    pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                    placeholder="Email address"
                    name="email"
                    required
                  />
                </div>
                <div class="form-row">
                  <div class="form-group col-12">
                    <div class="d-flex justify-content-between">
                      <input
                        id="password"
                        class="form-control mr-3"
                        type="password"
                        placeholder="Password"
                        name="password"
                        required
                      />
                      <input
                        id="confirm_password"
                        class="form-control"
                        type="password"
                        placeholder="Confirm Password"
                        name="confirm_password"
                      />
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <% if (errorMessage) { %>
                  <small id="usernameHelp" class="text-danger">
                    <%= errorMessage %>
                  </small>
                  <% } %>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="remember-me"
                    name="rememberMe"
                  /><label class="form-label" for="remember-me"
                    >Remember Me</label
                  >
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary btn-block mt-3" type="submit">
                    Register
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.addEventListener("load", function () {
      $("#signup-form")
        .bootstrapValidator({
          fields: {
            username: {
              message: "The username is not valid",
              validators: {
                notEmpty: {
                  message: "The username is required and cannot be empty",
                },
                stringLength: {
                  min: 6,
                  max: 30,
                  message:
                    "The username must be more than <span class='text-primary'>6</span> and less than 30 characters long",
                },
              },
            },
            email: {
              validators: {
                notEmpty: {
                  message: "The email is required and cannot be empty",
                },
                emailAddress: {
                  message: "The input is not a valid email address",
                },
              },
            },
            password: {
              validators: {
                notEmpty: {
                  message: "The password is required",
                },
                identical: {
                  field: "confirm_password",
                  message: "The password field doesn't match the confirmation field",
                },
                regexp: {
                  regexp: /^(?=.*?[A-Z])(?=.*?[a-z])?(?=.*?[0-9]).{8,}$/, // https://stackoverflow.com/questions/19605150/regex-for-password-must-contain-at-least-eight-characters-at-least-one-number-a
                  message:
                    "Password must be at least <span class='text-primary regex-password-exist'>8</span> characters long and must contain an <span class='text-primary'>Upper Case Letter</span> and a <span class='text-primary'>Number</span>. ",
                },
              },
            },
            confirm_password: {
              validators: {
                identical: {
                  field: "password",
                  message: "The confirmation field doesn't match the password field",
                },
                regexp: {
                  regexp: /^(?=.*?[A-Z])(?=.*?[a-z])?(?=.*?[0-9]).{8,}$/, // https://stackoverflow.com/questions/19605150/regex-for-password-must-contain-at-least-eight-characters-at-least-one-number-a
                  message:
                    "Confirmation must be at least <span class='text-primary'>8</span> characters long and must contain an <span class='text-primary'>Upper Case Letter</span> and a <span class='text-primary'>Number</span>.",
                },
              },
            },
          },
        })
        .on("error.validator.bv", function (e, data) {
          data.element
            .data("bv.messages")
            .find('.help-block[data-bv-for="' + data.field + '"]')
            .hide()
            .filter('[data-bv-validator="' + data.validator + '"]')
            .show();
        });
    });
  </script>
</main>
